/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

.calculator-icon {
    cursor: pointer;
    padding-top: 5%;
    font-size: 24px;
    border-radius: 50%;
    display: inline-block;
}

/* Hidden dropdown calculator */
.dropdown-calculator {
    display: none;
    position: absolute;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Calculator layout */
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator input {
    grid-column: span 4;
    height: 50px;
    text-align: right;
    font-size: 20px;
}

.calculator button {
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}


/* fonts */
@font-face {
    font-family: Vazir;
    src: url("../fonts/vazir/Vazir.eot");
    src: url("../fonts/vazir/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir.woff2") format("woff2"), url("../fonts/vazir/Vazir.woff") format("woff"), url("../fonts/vazir/Vazir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/vazir/Vazir-Bold.eot");
    src: url("../fonts/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir-Bold.woff2") format("woff2"), url("../fonts/vazir/Vazir-Bold.woff") format("woff"), url("../fonts/vazir/Vazir-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/vazir/Vazir-Black.eot");
    src: url("../fonts/vazir/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir-Black.woff2") format("woff2"), url("../fonts/vazir/Vazir-Black.woff") format("woff"), url("../fonts/vazir/Vazir-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/vazir/Vazir-Medium.eot");
    src: url("../fonts/vazir/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir-Medium.woff2") format("woff2"), url("../fonts/vazir/Vazir-Medium.woff") format("woff"), url("../fonts/vazir/Vazir-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/vazir/Vazir-Light.eot");
    src: url("../fonts/vazir/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir-Light.woff2") format("woff2"), url("../fonts/vazir/Vazir-Light.woff") format("woff"), url("../fonts/vazir/Vazir-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/vazir/Vazir-Thin.eot");
    src: url("../fonts/vazir/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir-Thin.woff2") format("woff2"), url("../fonts/vazir/Vazir-Thin.woff") format("woff"), url("../fonts/vazir/Vazir-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

.badge-custom {
    background: #fff7e6;
    border-color: #ffd591;
    color: #d46b08;
}

.select2-container {
    z-index: 100000;
}

.supplier-add-btn {
    margin-top: auto;
    margin-bottom: auto;
}

/* flash-message */
.flash-message-custom {

    padding: 20px;
    background-color: #e22518;
    color: white;

}

/* icon-box for businesses */
.icon-box {
    height: 80px;
    width: 80px;
}

.business-icon {
    width: 300px;
}

.img-fluid-business {
    max-height: 100%;
    max-width: 100%;
}


/* -------------------------------------------------------- */
.pricing .pricing-cta a {
    display: block;
    padding: 13px 23px;
    background-color: #f3f6f8;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0 0 3 px 3 px;
}

.price-font {
    font-size: 40px;
}

.discount-font {
    font-size: 20px;
}


.pricing .pricing-price div:first-child {
    font-weight: 600;
    font-size: 37px;
}

.settings_logo {
    max-height: 55px;
    margin-bottom: 5px;
}


.sidebar_logo {
    height: 100;
    max-width: 185px;
}

.login-logo {
    width: 150px;
    height: auto;
}

/* for system updater */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.drag-area {
    margin-bottom: 100px;
    border: 2px dashed #fff;
    height: 300px;
    width: 500px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active {
    border: 2px solid #6777ef;
}

.drag-area .icon {
    font-size: 100px;
    color: #6777ef;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #6777ef;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #6777ef;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #6777ef;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* ..................................................... */
/* .container {
    margin: 0 auto;
    width: 50%;
} */

.content {
    padding: 5px;
    margin: 0 auto;
}

.content span {
    width: 250px;
}

.dz-message {
    text-align: center;
    font-size: 28px;
}

/* product section title and add button */
.section-title-variant {
    margin: 8px;
}


.add-button-row {
    margin: 11px;
}

/* order */
.width-package-btn {
    width: 100%;
}

.item-image {
    display: inline-block;
    overflow: hidden;
    width: 175px;
    height: 155px;
    border-radius: 3px;
    /* margin-bottom: 10px; */
}

.order-image {
    max-width: 100%;
    height: 100%
}

.cart-items {
    font-size: 16px;
    line-height: 28px;
    padding-right: 10px;
    margin-bottom: 0;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart-image img {
    max-width: 60%;
    max-height: auto;
}

.cart-input {
    width: 45px;
}

/* place order container size */
.container-order {
    margin: 0 auto;
    width: 100%;
}

.cart-total {
    letter-spacing: .3px;
    color: #424a4e;
    margin-bottom: 4px;
}

.cart-value {
    font-size: 18px;
    color: #6777ef;
    font-weight: 700;
}

/* ribbon */
.container-ribbon {
    --d: 6px;
    /* folded part */
    --c: #0092ffd1;
    /* color */
    --f: 16px;
    /* ribbon font-size */
    position: relative;
    display: inline-block;

}

.container-ribbon::before {
    content: attr(data-ribbon);
    position: absolute;
    font-size: var(--f);
    top: 0;
    right: 0;
    transform: translate(29.29%, -100%) rotate(45deg);
    color: #fff;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: 0;
    transform-origin: bottom left;
    padding: 5px 35px calc(var(--d) + 5px);
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0 0) bottom/100% var(--d) no-repeat var(--c);
    background-clip: padding-box;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - var(--d)) calc(100% - var(--d)), var(--d) calc(100% - var(--d)), 0 100%);
    -webkit-mask: linear-gradient(135deg, transparent calc(50% - var(--d) * 0.707), #fff 0) bottom left,
        linear-gradient(-135deg, transparent calc(50% - var(--d) * 0.707), #fff 0)bottom right;
    -webkit-mask-size: 300vmax 300vmax;
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
}

.left::before {
    left: 0;
    right: auto;
    transform: translate(-29.29%, -100%) rotate(-45deg);
    transform-origin: bottom right;
}

.unit-cart-label {
    margin-top: 6px;
    padding-left: 11px;
}

/* order details image */
.order-detail-image {
    max-width: 100%;
    height: 100%
}

.general-setting {
    color: rgb(0, 62, 100);
    font-family: Ubuntu, sans-serif;
    text-align: center;
}

.order-detail-p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 15px;
}

/* order end  */

/* checkout image width of payments */
.payments {
    width: 30px;
}

/* success-page payment */

.h1-payment {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

.p-payment {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}

.i-payment {

    font-size: 130px;
    line-height: 180px;
    /* margin-left: 85px; */
}

.i-payment-failed {

    font-size: 120px;
    line-height: 180px;
    margin-left: 55px;
}

.card-payment {
    background: white;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
}

/* select2  */
.select2-container .select2-selection--single .select2-selection__rendered {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.invoice-logo {
    max-width: 100px;
    max-height: 100px;
}

.image-box-100 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.image-box-100 img {
    max-width: 100%;
    max-height: 100%;
}

.image-box-200 {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.image-box-200 img {
    max-width: 100%;
    max-height: 100%;
}

.image-box-70 {
    width: 70px;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.image-box-70 img {
    max-width: 100%;
    max-height: 100%;
}

@media print {
    body * {
        visibility: true;
    }

    #section-not-to-print,
    #section-not-to-print * {
        display: none;
    }

    .section-to-print,
    #section-to-print * {
        visibility: visible;
    }

    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.drop-down-img {
    height: 50px;
    object-fit: contain;
}

.pos-cart-header {
    height: 56px;
    padding: 16px;
    background: #f5f8f9;
    border-bottom: 0 !important;
    border-radius: 4px !important;
}

.billing-detail-table {
    padding: 16px;
    background: #f5f8f9;
    border-radius: 2px;
}

.filepond--item {
    display: flex;
    width: 220px;
    padding: 0px 15px;
    min-height: 260px;
    margin-bottom: 15px;
}

.filepond--panel-root {
    background-color: #f5f8f9 !important;
}

.image-upload-div {
    align-content: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100% !important;
}

.image-upload-div img {
    align-content: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.file_upload_box {
    height: 100px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--body-background);
}

.file_upload_border {
    border-radius: 4px;
    border: 1px dashed rgba(40, 37, 37, 0.4) !important;
}

.media_link,
.media_link:hover {
    color: #28252566 !important;
}